@{
    ViewBag.Title = "Modification du mot de passe";
}

<h2>Modification du mot de passe</h2>

@if (ViewData["BadPwd"] != null)
{
    <span class="mdl-textfield__error">@ViewData["BadPwd"]</span>
}
@if (ViewData["NotCorresponding"] != null)
{
    <span class="mdl-textfield__error">@ViewData["NotCorresponding"]</span>
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <fieldset>
        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
            <input class="mdl-textfield__input" type="password" name="oldpwd" id="oldpwd">
            <label class="mdl-textfield__label" for="oldpwd">Ancien mot de passe</label>
        </div>
        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
            <input class="mdl-textfield__input" type="password" name="newpwd" id="newpwd">
            <label class="mdl-textfield__label" for="newpwd">Nouveau mot de passe</label>
        </div>
        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
            <input class="mdl-textfield__input" type="password" name="confirm" id="confirm">
            <label class="mdl-textfield__label" for="confirm">Confirmation du nouveau mot de passe</label>
        </div>
    </fieldset>
    <input id="Modif" type="submit" , value="Éditer" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent" />
}